{% extends 'header_footer_template.html' %}

{% block title %}Add New Tool{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/addtool.css') }}">
{% endblock %}


{% block content %}
<div class="addtool-form-container">
    <h1>Add a New Tool</h1>
    <form id="addtoolForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description"></textarea>

        <label for="image">Add Image:</label>
        <input type="file" id="toolImage" name="toolImage" accept="image/*" required>

        <button type="submit">Add Tool</button>
    </form>
    <p id="message"></p>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/addtool.js') }}"></script>
{% endblock %}